.wrapper {

  --color-text: var(--color-black);

  font-size: var(--font-size-description);
  font-weight: var(--font-weight-md);
  color: var(--color-text);
}

.variant {
  &--compact {
    font-size: var(--font-size-description--compact);
  }
}
